[Desktop Entry]
Comment=This is a fork of MacBreeze-Shadowless theme, with line Breeze icons
Name=Breeze Legacy
X-KDE-PluginInfo-Author=vmorenomarin
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=vmorenomarin@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA
X-KDE-PluginInfo-Name=Breeze-Legacy
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.13+
