[Desktop Entry]
Name=Arc OSX White Transparent
X-KDE-PluginInfo-Author=albertoZurini
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=alberto.zurini@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=AGPL3.0
X-KDE-PluginInfo-Name=Arc-OSX-White-Transparent
X-KDE-PluginInfo-Version=0.1

# Based on Arc-OSX-aurorae https://www.opendesktop.org/p/1229260/
